
<!-- section 1 -->
<div class="py-2 px-4 mt-20 max-w-[1152px] mx-auto">
    <div class="flex flex-col gap-6">
        <div class="">
            <h1 class="text-7xl font-medium" style="font-family: 'Times New Roman', Times, serif;">WordPress, Your&nbsp;Way</h1>
        </div>

        <div class="max-w-[864px] mr-[224px]">
            <div class="text-base">
                <p>Build and grow your website with the best way to WordPress. Lightning-fast hosting, intuitive, flexible editing, and everything you need to grow your site and audience, baked right in.</p>
            </div>
        </div>

        <div class="">
            <div class="max-w-[154px] px-9 py-3 bg-white text-black font-medium rounded-sm hover:bg-gray-200 hover:text-gray-800">
                <a class="">Get started</a>
            </div>
        </div>
    </div>
</div>
<!-- section 2 -->


<!-- section 3 -->
