<div class="mx-auto px-4 border-b-4 border-[#0e1414]">
    <nav class="flex justify-around  max-w-[1152px]">
      <ul class="flex items-center justify-between text-lg">
          <li class="mr-8 font-medium text-xl">
              <a href="" class="flex items-center space-x-1">
                <img src="../../assets/logo1.jpg" style="width: 40px; border-radius: 100%;" alt="">
                <span>VJ.BLOG</span>
              </a>
          </li>
          <li class="mr-4">
              <button class="focus:outline-none hidden md:block">Products <span class="ml-1">&rsaquo;</span></button>
          </li>
          <li class="mr-4">
              <button class="focus:outline-none hidden md:block">Features <span class="ml-1">&rsaquo;</span></button>
          </li>
          <li class="mr-4">
              <button class="focus:outline-none hidden md:block">Resources <span class="ml-1">&rsaquo;</span></button>
          </li>
          <li class="mr-4">
              <a href="" class="focus:outline-none hidden md:block">Plans &amp; Pricing</a>
          </li>
      </ul>
      <ul class="flex items-center">
          <li class="mr-4">
              <a href="" class="hidden md:block">Log In</a>
          </li>
          <li class="mr-4 bg-white text-black font-medium rounded-sm px-4 p-[5px] hover:bg-gray-200 hover:text-gray-800">
            <a href="" class="hidden md:block">Get Started</a>
          </li>

      </ul>
    </nav>
</div>
